<div id="navbar">
  <div id="navbar-tabs">
    <div id="navbar-tab-entry-1" class="navbar-tab-entry">
      <img src="../../assets/icons/navbar-entry-network-scanner.svg">
      <a>Network Scanner</a>
    </div>
  </div>
  
  <div id="navbar-footer">
    <div>
      <a>Ext. IP: 192.168.1.254</a>
    </div>
    <div>
      <a>Made with &#10084; in Austria!</a>
    </div>
  </div>
</div>