#navbar {
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 100%;
    background-color: rgb(45, 50, 60);
    color: white;

    #navbar-tabs {
        display: flex;
        flex: 1 1 auto;

        .navbar-tab-entry {
            transition: cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-duration: 0.25s;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 3em;

            img {
                filter: invert(1);
                width: 20px;
                height: 20px;
                margin: auto 1em;
            }

            a {
                margin: auto 0;
            }
            
        }

        .navbar-tab-entry:hover {
            cursor: pointer;
            background-color:rgba(255, 255, 255, 0.15);
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
        }

        .navbar-tab-entry:active {
            background-color: rgba(255, 255, 255, 0.1)
        }
    }

    #navbar-footer {
        display: flex;
        flex-direction: column;
        height: 4em;

        div {
            margin: auto;
        }
    }
}