<div id="title-bar">
  <img src="../../assets/icons/logo.svg" id="title-bar-logo">

  <select id="title-bar-dropdown">
    <option value="test1">Test 1</option>
    <option value="test2">Test 2</option>
  </select>

  <div id="title-bar-controls">
      <div id="minimize" (click)="minimizeWindow()">
        <div id="minimize-icon"></div>
      </div>
      <div id="maximize" (click)="maximizeWindow()">
        <div id="maximize-icon"></div>
      </div>
      <div id="close" (click)="closeWindow()">
        <img draggable="false" src="../../assets/icons/window-frame-close.svg" id="close-icon">
      </div>
    </div>
</div>
