#title-bar {
    position: fixed;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 2em;
    -webkit-app-region: drag;
    background-color: rgb(45, 50, 60);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

    #title-bar-controls {
        -webkit-app-region: no-drag;
        height: 100%;
        display: flex;
        flex-direction: row;
        
        #close {
            transition: cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-duration: 0.25s;
            display: flex;
            width: 2em;
            height: 100%;
            margin: auto 0;

            #close-icon {
                filter: invert(1);
                margin: auto;
                height: 40%;
            }
        }
        #close:hover {
            cursor: pointer;
            background-color: rgb(197, 40, 53);
            
        }

        #close:active {
            background-color: rgb(240, 77, 91);
        }

        #maximize {
            transition: cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-duration: 0.25s;
            display: flex;
            width: 2em;
            height: 100%;
            margin: auto 0;

            #maximize-icon {
                margin: auto;
                border-color: white;
                border-style: solid;
                border-radius: 0.05em;
                border-width: 1px;
                width: 0.7em;
                height: 0.7em;
            }
        }

        #maximize:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.2);
        }

        #maximize:active {
            background-color: rgba(255, 255, 255, 0.1);
        }

        #minimize {
            display: flex;
            transition: cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-duration: 0.25s;
            width: 2em;
            height: 100%;

            #minimize-icon {
                margin: auto;
                background-color: white;
                height: 1px;
                width: 0.7em;
            }
        }

        #minimize:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.2);
        }

        #minimize:active {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    #title-bar-dropdown {
        -webkit-app-region: no-drag;
        border: none;
        background-color: rgb(90, 90, 110);
        color: white;
        margin: auto 0;
        margin-left: auto;
        min-width: 15em;
        height: 100%;
    }

    #title-bar-dropdown:focus {
        outline: none;
    }

    #title-bar-logo {
        filter: invert(1);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-duration: 1s;
        display: flex;
        height: 40%;
        margin: auto 0.5em;
    }

    #title-bar-logo:hover {
        color: rgb(194, 194, 194);
    }
}