@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

/* You can add global styles to this file, and also import other style files */
body, html, app-root {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    user-select: none;
}

app-container {
    width: 100%;
}